html, 
body {
    height: 100vh;
    overflow: hidden;
}

* {
    font-family: 'Pokemon Solid', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.3em;
}

/* mainMenuScreen Section */
#mainContainer {
    height: 100vh;
    background-image: url("./src/screen_images/pokemonMainMenu.webp");
    background-size: 25%;
    text-align: center;
}

#mainContainer > h1 {
    padding-top: 20vh;
    font-size: 3em;
}

#gameContinue {
    padding: 1em 1em;
    font-size: 1.5em;
    border-radius: 10%;
    margin-bottom: 1em;
}

#gameStart {
    padding: 1em 1em;
    font-size: 1.5em;
    border-radius: 10%;
    margin-bottom: 1em;
}

#starterPokemons img{
    width: 15%;
    animation: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;
}


@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

button {
    background-color: lightskyblue;
}
button:hover {
    background-color: lightcoral;
}
button:disabled:hover {
    cursor: not-allowed;
}

/* mainScreenSection */
#play-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black ;
}

#play-area > div {
    text-align: center;
    padding: 20%;
    border: 2px dashed darkgreen;
}

#wrapper {
    background-image: url("./src/screen_images/grass_tile.png");
    background-size: 30%;
}

#wrapper > div > div.currentPosition {
    background-image: url("./src/screen_images/poke_ash-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* bottom of mainScreenSection */
#consoleHUD {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
}

#eventLogger{
    grid-row-start: 1;
    grid-row-end: 3;
    background: pink;
    text-align: left;
    height: 45vh;
}

#eventHistory{
    overflow-y: auto;
    text-align: left;
    position: absolute;
    width:73%;
    height: 45vh;
    margin-left: 1em;
}

#eventHistory::-webkit-scrollbar {
    display: none;
}

.consoleButtons {
    text-align: center;
    background-color: pink;
    border: 1px solid darkgrey;
}

div.consoleButtons > button {
    padding: auto;
    width:100%;
    height: 100%;
    display: block;
    font-size: 2em;
}

/* bagScreen Section */
#bagGridBox{
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    gap: 1em;
    height: 95vh;
    margin-top: 1vh;
}

#itemDiv {
    margin: 0;
    height: 100%;
    background-color: lightgoldenrodyellow;
    border: 2px solid goldenrod;
    
}

#itemList > div {
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
#itemList > div  span {
    font-size: 0.5em;
}
#itemList > div > span {
    font-size: 1em;
    color: red;
}

#pokemonDiv {
    margin: 0;
    height: 100%;
    background: lightgreen;
    border: 2px solid goldenrod;
    position: relative;
}

#returnToMain {
    font-size: 2em;
}

div#bagGridBox > div > h1 {
    padding-left: 1em;
    border-bottom: 3px solid goldenrod;
}

#pokemonList {
    overflow-y: auto;
    height: 80vh;
    width: 100%;
    position: absolute;
}

#pokemonList > div  {
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
    display: list-item;
    list-style-type: none;
}

#pokemonList > div.currentPokemon {
    list-style-type: ">"
}

#pokemonList > div > div > p {
    font-size: 0.5em;
}

#pokemonList > div > div > img {
    position: absolute;
    right: 1em;
    top: 0.25em;
}

#pokemonList > div > div > p > div {
    position: relative;
}
#pokemonList > div > div > p > div > button {
    position: absolute;
    right: 1em;
}

.true_boxer {
    color: red;
}

/* CombatScreen */
.combatContainer {
    display: block;
    border: 2px solid black;
    height: 70vh; 
    background-image: url("./src/screen_images/GrassyField.png");
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

#opponentPokemon {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    display: block;
    position: absolute;
    width: 25%;
    bottom: 55%;
    right: 13%;
}

#opponentStats {
    grid-column-start: 3;
    grid-column-end: 4;
    position: absolute;
    width: 25%;
    top: 31%;
    left: 71%;

}

#allyPokemon {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    position: absolute;
    width: 25%;
    top: 30%;
    left: 15%;
}

#allyStats {
    grid-column-start: 1;
    grid-column-end: 2;
    position: absolute;
    width: 25%;
    top: 64%;
    left: 25%;
}

#combatNavBar {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
    height: 25vh;
    padding: 0.2em;
    grid-gap: 0.2em;
}

#movesNav{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0.2em;
}

#movesList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height:100%;
    grid-gap: 0.2em;
}

#eventLoggerCombat{
    background: pink;
    text-align: left;
    margin: 1em;
    height: 20vh;
    width: 80vh;
    border: 2px solid black
}

#combatHistory{
    overflow-y: auto;
    text-align: left;
    position: absolute;
    width: 77vh;;
    height: 18vh;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

#combatHistory > p {
    margin-left: 0.3em;
}

#combatHistory::-webkit-scrollbar {
    display: none;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* Game Over Screen */
#gameOverContainer {
    height: 100vh;
    background-image: url("./src/screen_images/pokemonMainMenu.webp");
    background-size: 25%;
    text-align: center;
}

#gameOverContainer > h1 {
    padding-top: 20vh;
    font-size: 4em;
}

#gameOverContainer  p {
    font-size: 1.5em;
}


#startOver {
    padding: 1em 1em;
    font-size: 2em;
    border-radius: 10%;
}
/*
.information-display {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    border: 2px solid black ;
} 

#pokemonDetail {
    background: cyan;
    padding: 1em;
    padding-top: 0;
}

#pokemonDetail > div {
    padding: 1em 1em;
}

#pokemonImgBox {
    background-image: url("./Untitled\ design.png");
    background-repeat: no-repeat;
    background-size: 50% ;
}

#pokemonImgBox > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
*/